# ===================================================================
# Archivos y directorios generados por MkDocs
# ===================================================================
# La carpeta 'site' contiene el sitio web estático generado.
# Nunca debe subirse al repositorio, ya que se genera automáticamente.
site/

# Fichero de backup que a veces crea MkDocs.
mkdocs.yml.bak

# ===================================================================
# Python y Entorno Virtual
# ===================================================================
# El entorno virtual completo. Es pesado, específico de tu OS y
# sus dependencias se gestionan con un fichero requirements.txt.
venv/

# Caché de Python y archivos compilados.
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de instalación de paquetes.
*.egg-info/
*.egg

# Ficheros de variables de entorno (suelen contener secretos).
.env
.env.*
!/.env.example

# ===================================================================
# Directorios personalizados del usuario
# ===================================================================
# Tus carpetas de trabajo que no deben formar parte de la publicación final.
zz-legacy/
dz_drafts/

# ===================================================================
# Configuración del Editor de Código / IDE (VSCode)
# ===================================================================
# Ignora la configuración local y de workspace de Visual Studio Code.
.vscode/

# ===================================================================
# Archivos del Sistema Operativo
# ===================================================================
# Ignorar archivos generados automáticamente por macOS, Windows y Linux.
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory
